<h1>Contact Us</h1>
<mat-card class="contact-card" appearance="outlined">
  <img mat-card-image src="../../../assets/cars/red-toyota.png" alt="Photo of a Shiba Inu">
  <mat-card-content class="contact-card-content">

    <h2>Passionate Car Wrapper & Vinyl Specialist</h2>
    <p>Hey there! I'm Khai, a young and ambitous car wrapper with a love for transforming vehicles into head-turning masterpieces. What started as a fascination with colors, designs, and automotive aesthetics has turned into my career and passion as I couldn't be more excited about it.</p>
  
    <h2>Why Car Wrapping?</h2>
    <p>I've always believed that a car is more than just a way to get from A to B. It's an extension of personality. Whether it's a sleek matte black finish, a bold color shift, r a full custom design. I love helping people redefine their ride's look without th permanence of paint.</p>
  
    <h2>What I Offer:</h2>
    <li>✅ Premium Yinyl Wraps (Gloss, Matte, Satin, Chrome, and more)</li>
    <li>✅ Precision Installation - Flawless results</li>
    <li>✅ Detail-Oriented Service - From prep to final polish, I take pride in my work</li>
    <p> </p>

    <h2>Let's Crete Something Amazing!</h2>
    <p>Whether you're looking to refresh your daily driver, promote your business, or just make a statement on the road, I'd love to bring your vision to life.</p>
    
    <p>We're here to help and answer any questions you have. Please use the contact information below to reach us </p>
    <ul><mat-icon>home</mat-icon><strong>Address:</strong>&nbsp; 918 Eleanor CT, Garland TX 75042</ul>
    <ul><mat-icon>email</mat-icon><strong>email:</strong>&nbsp; myEmail@gmail.com</ul>
    <ul><mat-icon>phone</mat-icon><strong>Phone Number:</strong>&nbsp; 555-555-5555</ul>
    <ul><mat-icon>facebook</mat-icon><strong>Facebook:</strong>&nbsp; www.facebook.com/wrap</ul>
    <ul><mat-icon>camera_alt</mat-icon><strong>Instagram:</strong>&nbsp; www.instagram.com/wrap</ul>
  </mat-card-content>
</mat-card>